<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuarkoFOSS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="./static/quarko.png" width="30" height="30"> | </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if 'logged' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="../../../../posts/create">🆕・Poster</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="../../../../explore">🌍・Explorer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../../../search">🔍・Rechercher</a>
                    </li>
                    {% if 'logged' in session %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            💭・Tchats
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../../../../../../../../../chat/public">Chat Publique (En-dévelopemment)</a></li>
                        </ul>
                    </li>

                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            🙍・{{ session['username'] }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../../../../manage">Gérer mon compte</a></li>
                            {% if session.get("token_staff") is not none %}
                                <li><a class="dropdown-item" href="../../../../admin/login_as/reconnect">Se reconnecter a mon compte principal</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="../../../../users/{{ session['username'] }}">Mon profile</a></li>
                            <li><a class="dropdown-item" href="../../../../logout">Déconnexion</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../../../../login">Se-connecter !</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
